.fl-pageSettings-panel {
    position: fixed;
    top:43px;
    right:0px;
    bottom:0px;
    width:450px;
    background:#ffffff;
    border-left: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
    color: #999999;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 14px;
    opacity: 1;
    z-index: 999999;
    transform: translateX(450px);
    transition-property: transform;
    transition-duration: .2s;
    -webkit-user-select: none;
}
.fl-pageSettings-panel.active {
    transform: translateX(0px);
}

.fl-pageSettings-panel .fl-builder-panel-actions {
    border-bottom:none;
}
.fl-pageSettings-panel .fl-builder-pageSettings-close {
    color: #bfbfbf;
    cursor: pointer;
    float: left;
    font-size: 18px;
    margin: 12px 18px;
}
.fl-pageSettings-panel .fl-pageSettings-tabs {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: #f5f5f5;
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 20px 0 20px;
    padding-left:0px;
}
.fl-pageSettings-panel .fl-pageSettings-tabs a {
    cursor: pointer;
    color: #999;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
}
.fl-pageSettings-panel .fl-pageSettings-tabs a.fl-active {
    position: relative;
    top: 2px;
    background:white;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    color: #222;
}

.fl-pageSettings-panel-content {
    position: absolute;
    top:60px;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
}
.fl-pageSettings-panel-content [data-tab] {
    display: none;
}
.fl-pageSettings-panel-content [data-tab].active {
    display: block;
}
.fl-pageSettings-panel-content .cell {
    padding:15px 20px;
}
.fl-pageSettings-panel-content .field {
    display: block;
    margin-bottom:10px;
}
.fl-pageSettings-panel-content .field label {
    padding: 3px 8px;
    background: #E2E2E2;
    color: #353535;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.fl-pageSettings-panel-content .field .indicator {
    display: none;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    vertical-align: top;
}
.fl-pageSettings-panel-content .field .input-wrap {
    border-bottom: 1px solid #E2E2E2;
    padding:14px 20px;
}
.fl-pageSettings-panel-content .field .input-wrap input:hover {
    color: #2199e8;
}
.fl-pageSettings-panel-content .field .input-wrap input.error {
    color: #f00;
}
.fl-pageSettings-panel-content input {
    display:block;
    box-sizing: border-box;
    width:100%;
    border:none;
    color:#aaa;
    background: transparent;
}
.fl-pageSettings-panel-content input:focus {
    outline:none;
    color:#333;
}
.fl-pageSettings-panel-content input.inline-input {
    display: inline-block;
    padding:0;
    width:auto;
}

.fl-pageSettings-panel-content .panel-footer {
    border-top: 1px solid #dfdfdf;
    padding:10px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}
.fl-pageSettings-panel-content .panel-footer input[type=submit] {
    display: inline-block;
    width: auto;
}

.fl-pageSettings-panel-content .fl-post-list-section-content {
    background:#F5F5F5;
    display: none;
}
.fl-pageSettings-panel-content .fl-active .fl-post-list-section-content {
    display: block;
}

.fl-pageSettings-panel-content .input-prefix {
    font-weight: bold;
}

.fl-pageSettings-panel-content .input-prefix:hover {
    cursor: default;
}

.fl-post-link-block {
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 14px;
    padding: 15px 30px;
}
